<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput placeholder="Titulo" type="text" formControlName="title">
                    </mat-form-field>                    
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input matInput placeholder="Precio" type="number" formControlName="price">
                    </mat-form-field>
                    <div *ngIf="priceField!.errors && priceField!.dirty">
                        <p *ngIf="priceField!.hasError('price_invalid')">Este campo no es válido.</p>     
                        <p *ngIf="priceField!.hasError('required')">Este campo es requerido.</p>    
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea matInput placeholder="Descripción" type="text" formControlName="description"></textarea>
                    </mat-form-field>                    
                </div>
            </div>
        
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>    
</form>